<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
  <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx1a48a4ea885a3481&redirect_uri=http://weixinentbeta.iwjwagent.com:8120/demo/wxpay&response_type=code&scope=snsapi_base&state=heheda#wechat_redirect">去付钱</a>
</body>
</html>